[global_config]
[keybindings]
  new_tab = <Super>t
  cycle_next = None
  cycle_prev = None
  close_term = <Super>w
  next_tab = <Primary>Tab
  prev_tab = <Primary><Shift>Tab
  group_tab = None
  new_window = <Super>n
[profiles]
  [[default]]
    background_darkness = 0.94
    background_type = transparent
    cursor_color = "#aaaaaa"
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      maximised = False
      fullscreen = False
      size = 1096, 1373
    [[[terminal1]]]
      type = Terminal
      parent = child0
      order = 0
      profile = default
[plugins]
